@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap');

body{
  color:brown
  
}

h1{
  font-family: 'Raleway', sans-serif;
}

h2{
  font-family: 'Open Sans', sans-serif;
}

